body {	background-color: #7CDBD5;
	font-family: "short stack";
	font-size: 20px;
}

h1 {font-family: "short stack";
	font-size: 120px;
	color: #F53240;
}
h2	{font-family: "short stack";
	font-size: 60px;
	color: #F53240;
}
ul {
  font-family: "short stack";
  font-size: 50px;
  color: #02A8A7;
}
